node_modules/
.idea
server/config/*/main.json
server/config/*/favorite.json
server/config/*/service.json
server/daemon
logs
e2e/logs
e2e/tmp
tmp
typings
server/config/main.json
server/config/favorite.json
server/config/service.json