<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.no()">&times;</button>
    <h4>Copy</h4>
</div>
<div class="modal-body">
    <label>New Name <input class="input-xlarge" ng-model="vm.FM.newName" placeholder={{vm.FM.selection[0].name}} /></label>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.no()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!vm.FM.newName" ng-click="vm.yes();vm.FM.copy(vm.FM.newName)">OK</button>
</div>