<div class="modal-header" style="padding:0px;">
    <nav class="navbar navbar-dark bg-primary primary" style="border-radius:0px;padding-top:0px;padding-bottom:0px;">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <span ng-if="vm.editMode" class="navbar-brand">Edit {{vm.fileName}}</span>
                <form ng-if="!vm.editMode" class="form-inline">
                    <div class="form-group">
                        <label for="newFile">New</label>
                        <input type="text" class="form-control" id="newFile" ng-model="vm.fileName">
                    </div>
                </form>
            </li>
            <li class="nav-item pull-xs-right" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.no()">
                <a uib-tooltip="Close" class="nav-link" href=""><span class="fa fa-close"></span></a>
            </li>
            <li class="nav-item pull-xs-right" ng-click="vm.expand=!vm.expand">
                <a uib-tooltip="{{vm.expand?'Restore Down':'Maximize'}}" class="nav-link" href=""><span ng-class="vm.expand?'fa-expand':'fa-compress'" class="fa"></span></a>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-light bg-faded secondary" style="border-radius:0px;padding-top:0px;padding-bottom:0px;">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a uib-tooltip="Save" class="nav-link btn" href="" ng-class="vm.content==vm.orig || !!!vm.fileName?'disabled':'active'" ng-click="vm.yes();"><span class="fa fa-save"></span></a>
                </li>
                <li class="nav-item">
                    <a uib-tooltip="Download" ng-click="vm.download()" class="nav-link btn active" href=""><span class="fa fa-download"></span></a>
                </li>
                <li class="nav-item">
                    <a uib-tooltip="Reset" ng-click="vm.content=vm.orig" class="nav-link btn active" href=""><span class="fa fa-refresh"></span></a>
                </li>
                <li class="nav-item form-group" style="margin-bottom:0px;">
                    <select id="mode" class="form-control" ng-options="m as m.caption for (k, m) in vm.modes" ng-model="vm.mode" ng-change="vm.changedMode();">
                    </select>
                </li>
                <li class="nav-item form-group" style="margin-bottom:0px;">
                    <select id="newLineMode" class="form-control" ng-options="m as k for (k, m) in vm.newLineModes" ng-model="vm.newLineMode" ng-change="vm.changedNewLineMode();">
                    </select>
                </li>
            </ul>
        </nav>
</div>
<div class="modal-body" style="padding:0px;">
    <!-- <textarea class="scroll-glue" style="width:100%;padding-left:16px;padding-right:8px;outline:0px;-webkit-appearance:none;" ng-model="vm.content"></textarea> -->
    <div ui-ace="{
        useWrapMode : true,
        showGutter: true,
        showPrintMargin: false,
        mode: '{{vm.mode.mode}}',
        onLoad: aceLoaded,
        require: ['ace/ext/language_tools'],
        advanced: {
            enableSnippets: true,
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true
        }
      }" ng-model="vm.content" class="scroll-glue"></div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" style="float:left;" ng-click="vm.content=vm.orig">Reset Changes</button>
    <button type="button" class="btn btn-default" ng-click="vm.no()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="vm.content==vm.orig || !!!vm.fileName" ng-click="vm.yes();">Save Changes</button>
</div> -->
